section.about#about
  article.card
    .card__header
      .card__avatar
        span.icon.myicon.about-icon(
          aria-label="icon about"
          loading="lazy"
        )
      h3.card__title About
    .card__content
      p I&apos;ve been working in sales for almost half my life, but once I wrote my first &apos; Hello World&apos; I fell in love with coding...
      
      p Oh God! now that I think about it... I&apos;m just before 4th floor! and it&apos;s been a year since my first hello world... 😱
      p JavaScript is my core language, but in the beginning I started with Java. I keep studying in
        em
          a.link.primary(
            href="https://platzi.com"
            target="_blank"
            rel="noreferrer"
          ) Platzi
        |where I discovered Python, C, C#, Go, PHP and many more...
      p Right now I&apos;m looking for my first work as a dev... so take a look and contact me anytime 😉
