include ../mixins/sectionLayout

+sectionLayout('contact', 'Send me a message', 'icon contact', 'contact-icon')
  form.form#form-contact
    .form__field
      input(
        autocomplete="off"
        type="text"
        name="name"
        aria-label="name"
      )
      label(for="name") Name
      p
    .form__field
      input(
        autocomplete="off"
        type="email"
        name="email"
        aria-label="email"
      )
      label( for="email") Email
      p
    .form__field
      textarea(
        autocomplete="off"
        name="msg"
        aria-label="message"
        spellcheck="true"
        maxlength="124"
        rows="3"
      )
      label( htmlFor="msg") Message
      p
    .form__button-send
      input(
        class="btn button-outline button-block primary"
        type="submit"
        value="Send"
        id="send"
      )
